<a href="https://colab.research.google.com/github/chajmz/morningstar-ratios/blob/master/MorningStar_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [114]:
import pandas as pd
import numpy as np


#Import des données csv après avoir importer le fichier dans google drive (onglet dossier à droite puis drag & drop)
# puis clic droit pour copier le path et coller en dessous
#les données CSV sont ensuite importées dans la structure de données de pandas : le DataFrame
#df = pd.read_csv("/content/df1_1290_1_c2.csv",sep=";")
#df = df.drop(['Unnamed: 0'], axis=1) # supprime la première colonne avec les index qui sert à rien ici
#cols = df.columns.tolist()
col_txt = ['year','TTM', 'Section', 'name_stock', 'symbol']

col_num = ['2010-12', '2011-12', '2012-12', '2013-12', '2014-12', '2015-12', '2016-12', '2017-12', 
 '2018-12', '2019-12', 'TTM']


df = pd.read_csv("/content/df_symbol_1000_2.csv", sep=";", thousands=",")

df = df.drop(df.columns.tolist()[:2],axis=1)
num_cols = df.columns.tolist()[1:-3]

df = df.applymap(str)
df[num_cols] = df[num_cols].apply(lambda x: x.str.replace(',',''))

mask_ap = df['symbol'] == "AAPL"
print(df[mask_ap].head(10))

for col in num_cols:
    df[col] = pd.to_numeric(df[col], errors ='coerce')

df = df.round(2)
df.info()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                     year  2010-12 2011-12  ...    Section  name_stock symbol
765               Revenue  65225.0  108249  ...  Financial  Apple Inc.   AAPL
766        Gross Margin %     39.4    40.5  ...  Financial  Apple Inc.   AAPL
767      Operating Income  18385.0   33790  ...  Financial  Apple Inc.   AAPL
768    Operating Margin %     28.2    31.2  ...  Financial  Apple Inc.   AAPL
769            Net Income  14013.0   25922  ...  Financial  Apple Inc.   AAPL
770    Earnings per Share     2.16    3.95  ...  Financial  Apple Inc.   AAPL
771             Dividends      nan     nan  ...  Financial  Apple Inc.   AAPL
772          Payout Ratio      nan     nan  ...  Financial  Apple Inc.   AAPL
773                Shares   6473.0    6557  ...  Financial  Apple Inc.   AAPL
774  Book Value Per Share     7.45   11.78  ...  Financial  Apple Inc.   AAPL

[10 rows x 15 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55590 entries, 0 to 55589
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        55590 non-null  object
 1   2010-12     29848 non-null  float64
 2   2011-12     32283 non-null  float64
 3   2012-12     34565 non-null  float64
 4   2013-12     36156 non-null  float64
 5   2014-12     37712 non-null  float64
 6   2015-12     38669 non-null  float64
 7   2016-12     40167 non-null  float64
 8   2017-12     41028 non-null  float64
 9   2018-12     41530 non-null  float64
 10  2019-12     41839 non-null  float64
 11  TTM         35461 non-null  float64
 12  Section     55590 non-null  object
 13  name_stock  55590 non-null  object
 14  symbol      55590 non-null  object
dtypes: float64(11), object(4)
memory usage: 6.4+ MB

In [115]:
#Affichage de 5 lignes aléatoires du DataFrame
#Ca se présente comme un tableau excel et on accède aux données par colonne
df.sample(5)

                               year  2010-12  ...                name_stock  symbol
46747            EPS % | 3Y Average      NaN  ...               Cardtronics    CATM
15806        EPS % | Year Over Year      NaN  ...                   KERLINK   ALKLK
20085  Profitability | Net Margin %     5.62  ...        PISCINES DESJOYAUX   ALPDX
15511          Receivables Turnover      NaN  ...                    KALRAY   ALKAL
55444    Profitability | Tax Rate %     2.10  ...  ChinaNet Online Holdings    CNET

[5 rows x 15 columns]

In [116]:
#par exemple pour afficher une colonne entière : df["name_stock"] affiche toute la colonne name_stock 
df[["name_stock"]]  # affiche un bout de la colonne name_stock

           name_stock
0               2CRSI
1               2CRSI
2               2CRSI
3               2CRSI
4               2CRSI
...               ...
55585  CRCAM NORD CCI
55586  CRCAM NORD CCI
55587  CRCAM NORD CCI
55588  CRCAM NORD CCI
55589  CRCAM NORD CCI

[55590 rows x 1 columns]

In [117]:
df[ ['name_stock', 'TTM']].head(3) ##affiche 3 premières valeurs des 2 colonnes name_stock et TTM en même temps

  name_stock   TTM
0      2CRSI  61.0
1      2CRSI  23.9
2      2CRSI   1.0

# **Selection et Filtre des données**

Pour sélectionner des données on réalise un mask (qui spécifie le filtre que l'on applique) puis on passe le mask en argument dans le dataframe

![Fonctionnement](https://files.realpython.com/media/fig-02.494ca4d6f8c3.png)

In [118]:
mask = df["symbol"] == "AAPL" #sélection de Apple
df_apple = df[mask]
df_apple

                           year   2010-12  ...  name_stock  symbol
765                     Revenue  65225.00  ...  Apple Inc.    AAPL
766              Gross Margin %     39.40  ...  Apple Inc.    AAPL
767            Operating Income  18385.00  ...  Apple Inc.    AAPL
768          Operating Margin %     28.20  ...  Apple Inc.    AAPL
769                  Net Income  14013.00  ...  Apple Inc.    AAPL
..                          ...       ...  ...         ...     ...
845  Net Income % | 10Y Average     33.39  ...  Apple Inc.    AAPL
846      EPS % | Year Over Year    140.86  ...  Apple Inc.    AAPL
847          EPS % | 3Y Average     56.80  ...  Apple Inc.    AAPL
848          EPS % | 5Y Average     57.56  ...  Apple Inc.    AAPL
849         EPS % | 10Y Average     30.11  ...  Apple Inc.    AAPL

[85 rows x 15 columns]

In [119]:
mask2 = df['Section'] == "Financial" #selection de la partie financial du rapport

df_financial_apple = df_apple[mask2]

df_financial_apple

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

                         year   2010-12  ...  name_stock  symbol
765                   Revenue  65225.00  ...  Apple Inc.    AAPL
766            Gross Margin %     39.40  ...  Apple Inc.    AAPL
767          Operating Income  18385.00  ...  Apple Inc.    AAPL
768        Operating Margin %     28.20  ...  Apple Inc.    AAPL
769                Net Income  14013.00  ...  Apple Inc.    AAPL
770        Earnings per Share      2.16  ...  Apple Inc.    AAPL
771                 Dividends       NaN  ...  Apple Inc.    AAPL
772              Payout Ratio       NaN  ...  Apple Inc.    AAPL
773                    Shares   6473.00  ...  Apple Inc.    AAPL
774      Book Value Per Share      7.45  ...  Apple Inc.    AAPL
775       Operating Cash Flow  18595.00  ...  Apple Inc.    AAPL
776              Cap Spending  -2121.00  ...  Apple Inc.    AAPL
777            Free Cash Flow  16474.00  ...  Apple Inc.    AAPL
778  Free Cash Flow Per Share      2.54  ...  Apple Inc.    AAPL
779           Working Capital  20956.00  ...  Apple Inc.    AAPL

[15 rows x 15 columns]

# Effectuer des calculs et rajouter les calculs des colonnes

On peut automatiquement faire des calculs sur toutes les lignes et les colonnes

In [120]:
df_financial_apple['mean'] = df_financial_apple[col_num].mean(axis=1) 
#calcul de la moyenne de toutes les colonnes numérique et ajout de moyenne 
#dans une colonne a la fin
df_financial_apple['std'] = df_financial_apple[col_num].std(axis=1) #standard dev
df_financial_apple['min'] = df_financial_apple[col_num].min(axis=1) #min
df_financial_apple['max'] = df_financial_apple[col_num].max(axis=1) #max

df_financial_apple

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                         year   2010-12  ...       min        max
765                   Revenue  65225.00  ...  65225.00  267981.00
766            Gross Margin %     39.40  ...     37.60      43.90
767          Operating Income  18385.00  ...  18385.00   71230.00
768        Operating Margin %     28.20  ...     24.50      35.30
769                Net Income  14013.00  ...  14013.00   59531.00
770        Earnings per Share      2.16  ...      2.16      12.79
771                 Dividends       NaN  ...      0.38       3.08
772              Payout Ratio       NaN  ...     22.30      28.50
773                    Shares   6473.00  ...   4495.00    6617.00
774      Book Value Per Share      7.45  ...      7.45      25.83
775       Operating Cash Flow  18595.00  ...  18595.00   81266.00
776              Cap Spending  -2121.00  ... -13548.00   -2121.00
777            Free Cash Flow  16474.00  ...  16474.00   69778.00
778  Free Cash Flow Per Share      2.54  ...      2.54      12.31
779           Working Capital  20956.00  ...   5083.00   57101.00

[15 rows x 19 columns]

In [128]:
global_rev_100 = []

def apply_base(row):
  new_base = []
  taux_croissance_net_income = []
  taux_croissance_10y = []
  str_year = row['year']
  if 'Revenue' == str_year or 'Net Income'== str_year:

    if row['year'] == "Revenue":
      new_base.append("Revenue base 100%")
      base_100 = row[1]
      new_base.append(100)
      for current_revenue in row[2:12]:
        new_base.append(round(float(current_revenue)/base_100*100,1))
      new_base.append(row['symbol'])
      new_base.append(row['name_stock'])
      new_base.append(row['Section'])
      global_rev_100.append(new_base)

    elif row["year"] == "Net Income":   #pareil qu'au dessus on change juste le nom de la ligne en net income base 100
      new_base.append("Net Income Base 100%")
      taux_croissance_net_income.append("TC Net Income %")
      taux_croissance_10y.append("TC Net Income 10y ")
      taux_croissance_10y.append(0)
      taux_croissance_net_income.append(0)
      base_100 = row[1]
      new_base.append(100)
      previous_taux_croissance = base_100
      net_income_y0 = base_100

      index_y = 1
      for current_value in row[2:12]:
        index_y += 1
        new_revenue = float(current_value)/base_100*100 #calcul revenue base 100
        new_base.append(new_revenue) 
        new_taux = ((float(current_value) - previous_taux_croissance)/previous_taux_croissance)*100 # calcul variation taux net income
        taux_croissance_net_income.append(new_taux)
        previous_taux_croissance = current_value
        tc_net_income_10y = ((float(current_value)/net_income_y0)**(1/(index_y-1)-1))*100
        taux_croissance_10y.append(tc_net_income_10y)

      new_base.append(row['symbol'])
      new_base.append(row['name_stock'])
      new_base.append(row['Section'])

      taux_croissance_net_income.append(row['symbol'])
      taux_croissance_net_income.append(row['name_stock'])
      taux_croissance_net_income.append(row['Section'])

      taux_croissance_10y.append(row['symbol'])
      taux_croissance_10y.append(row['name_stock'])
      taux_croissance_10y.append(row['Section'])

      global_rev_100.append(new_base)
      global_rev_100.append(taux_croissance_net_income)
      global_rev_100.append(taux_croissance_10y)



#test sur apple
df_aapl = df[df['symbol'] == 'AAPL']

In [132]:
## On applique la fonction et on voit que les dataframe correspondant aux nouvelles colonnes existent, il faudra ensuite les ajoutées aux autres
df_aapl.apply(apply_base,axis=1)
global_df = pd.DataFrame(global_rev_100,columns=cols)
global_df = global_df.round(2).drop_duplicates()
global_df

                   year  2010-12  2011-12  ...  Section  name_stock     symbol
0     Revenue base 100%      100   166.00  ...     AAPL  Apple Inc.  Financial
1  Net Income Base 100%      100   184.99  ...     AAPL  Apple Inc.  Financial
2       TC Net Income %        0    84.99  ...     AAPL  Apple Inc.  Financial
3    TC Net Income 10y         0   100.00  ...     AAPL  Apple Inc.  Financial

[4 rows x 15 columns]

In [135]:
df_aapl

                           year   2010-12  ...  name_stock  symbol
765                     Revenue  65225.00  ...  Apple Inc.    AAPL
766              Gross Margin %     39.40  ...  Apple Inc.    AAPL
767            Operating Income  18385.00  ...  Apple Inc.    AAPL
768          Operating Margin %     28.20  ...  Apple Inc.    AAPL
769                  Net Income  14013.00  ...  Apple Inc.    AAPL
..                          ...       ...  ...         ...     ...
845  Net Income % | 10Y Average     33.39  ...  Apple Inc.    AAPL
846      EPS % | Year Over Year    140.86  ...  Apple Inc.    AAPL
847          EPS % | 3Y Average     56.80  ...  Apple Inc.    AAPL
848          EPS % | 5Y Average     57.56  ...  Apple Inc.    AAPL
849         EPS % | 10Y Average     30.11  ...  Apple Inc.    AAPL

[85 rows x 15 columns]